# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.lock
build/
.packages

# Drift generated
*.g.dart

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.iml
.gradle/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
